* { font-family: calibri; }

#piedra, #papel, #tijeras {
	border: 1px dashed #bdbdbd;
	border-radius: 5px;
}

.mini {
	font-size: 9px;
	text-align: center;
	margin-top: -20px;
	letter-spacing: 2px;
}

/* NEVER FORGET: FLEX!!! */
.bichos {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 5px;
}

.bichos img {
	cursor: pointer;
}

.pkmn { 
	max-width: 100px;
	text-align: center;
}

h1, h2 {
  text-align: center;
}

#ui, #ui2 {
  text-align: center;
  width: 40%;
  display: block;
  margin: 2% auto;
}

.ninja, .ninja2 { display: none; }

img { max-width: 300px; }